<!DOCTYPE HTML>
<html>

<head>
    <title>Storage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static' , filename='bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/radio.css') }}" />

    <noscript>
        <link rel="stylesheet" href="" {{ url_for('static' , filename='css/noscript.css' ) }}"" />
    </noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <a href="allcust" class="logo"><strong>Palam Tech</strong> <span>Admin</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li> <a href="logout">Logout</a> </li>
                <li> <a href="allcust">All Customer</a> </li>


                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Component</a>

                    <ul class="dropdown-menu">

                        <li> <a href="addcasing">Casing</a> </li>
                        <li> <a href="addmb">Motherboard</a> </li>
                        <li> <a href="addgpu">Graphic Processing Unit (GPU)</a> </li>
                        <li> <a href="addram">Random Access Memory (RAM)</a> </li>
                        <li> <a href="addssd">Storage</a> </li>
                        <li> <a href="addpsu">Power Supply Unit (PSU)</a> </li>
                        <li> <a href="addcpu">Central Processing Unit (CPU)</a> </li>

                    </ul>

                </li>


            </ul>
        </nav>

        <!-- Main -->
        <div id="main" class="alt">

            <section id="contact">
                <div style="padding-left: 100px; padding-right: 100px">
                    <section>
                        <header class="major">
                            <h2>Add New Storage</h2>
                        </header>

                        <form method="post" action="addssd">
                            <div>


                                <label for="compName">Storage Name</label>
                                <input type="text" name="name" id="name" required />
                                <br>

                                <label for="compBrand">Storage Brand</label>
                                <input type="text" name="brand" id="brand" required />

                                <br>

                                <label for="compPrice">Storage Price</label>
                                <input type="number" step="any" name="price" id="price" required />
                  

                                <div>
                                    <br>
                                    <ul class="actions">
                                        <br>
                                        <li><button type="submit" class="btn btn-success" >Add Storage</button></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                    <section id="contact">
                        <div >
                            <section>
                                <header class="major">
                                    <h2>List of all Storage</h2>
                                </header>
                               

                                <table class="table">
									<thead class="thead-dark">
										<tr>
									<th scope="col"> ID</th>
									<th scope="col"> Name</th>
									<th scope="col"> Brand</th>
									<th scope="col"> Price</th>
									<th scope="col">Action</th></tr>
									</thead>
									<tbody>
									{% for row in ssd %}
									<tr>
										<td>{{row.id}}</td>
										<td>{{row.name}}</td>
										<td>{{row.brand}}</td>
										<td>{{row.price}}</td>
										<td><a class="btn btn-success" href="/updatessd/{{row.id}}">Update</a> 
											<a class="btn btn-danger"
													href="/deletessd/{{row.id}}" onclick="myFunction()" style="
													width: 80.22222px;
												">Delete</a> </td>
									</tr>
									{% endfor %}</tbody>
								</table>
								
								<script>
										function myFunction() {
										  let text = "Press a button!\nEither OK or Cancel.";
										  if (confirm(text) == true) {
											text = "You pressed OK!";
										  } else {
											text = "You canceled!";
										  }
										  document.getElementById("demo").innerHTML = text;
										}
										</script>

                            </section>

                           <!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="https://www.facebook.com/palamtech/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/palamtech/?hl=en" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<ul class="copyright">
					<li>Copyright © 2020 Palam Tech</li>
				
				</ul>
			</div>
		</footer>

                        </div>

                        <!-- Scripts -->
                        <script src="{{ url_for('static' , filename='js/jquery.min.js') }}"></script>
                        <script
                            src="{{ url_for('static' , filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
                        <script src="{{ url_for('static' , filename='js/jquery.scrolly.min.js') }}"></script>
                        <script src="{{ url_for('static' , filename='js/jquery.scrollex.min.js') }}"></script>
                        <script src="{{ url_for('static' , filename='js/browser.min.js') }}"></script>
                        <script src="{{ url_for('static' , filename='js/breakpoints.min.js') }}"></script>
                        <script src="{{ url_for('static' , filename='js/util.js') }}"></script>
                        <script src="{{ url_for('static' , filename='js/main.js') }}"></script>

</body>

</html>